<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "achieve.png" %>">
</section>
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <title>not_lose</title>
   <link rel="stylesheets" href="style.css">
 </head>
 <body>
   <div class="not_lose">
    <img src="<%= asset_path "girl_not_lose.jpg" %>"></A>
    <img src="<%= asset_path "raival_discover1.png" %>"class="absolute">
    <A Href="http://www.yahoo.co.jp/" Target="_blank"><img src="<%= asset_path "login1.png" %>" class="login"></A>
    <A Href="http://www.yahoo.co.jp/" Target="_blank"><img src="<%= asset_path "signup1.png" %>" class="signup"></A>
    <A Href="http://localhost:3000/skills" Target="_blank"><img src="<%= asset_path "enmoku1.png" %>" class="enmoku"></A>
    <img src="<%= asset_path "to_not.png" %>" class="to_not">
   </div>
 </body>
</html>
